// ..........
// index.html
// ..........

// ...........
// search form
// ...........

.search-form {
	background-color: #eaeaea;
	height: 42px;
	@include center-content;
	justify-content: center;
	gap: 16px;
	&__location-icon {
		width: 110px;
		display: flex;
		justify-content: flex-end;
	}
	&__input {
		width: 250px;
		input {
			border: none;
			background-color: #eaeaea;
			font-size: 1rem;
			outline: none;

			&::placeholder {
				color: $main-text-color;
				opacity: 1;
				font-weight: 700;
			}
		}
	}
}

// ...............
// hero section
// ...............

.explore {
	background-color: #f6f6f6;
	text-align: center;
	height: 290px;
	@include for-size(tablet) {
		height: 250px;
	}
	h3 {
		padding: 40px 60px 0;
		line-height: 28px;
	}
	&__subtitle {
		color: #727272;
		padding: 0 5%;
		font-size: 1.125rem;
		line-height: 21px;
		padding-top: 16px;
	}
}

// ...................
// explanation section
// ...................

.explanation {
	height: 440px;
	padding: 50px 20px;
	counter-reset: cardNumber;
	@include for-size(tablet) {
		height: 220px;
		padding: 20px;
		display: grid;
		grid-template: 50px 1fr / 1fr 1fr 1fr;
		column-gap: 20px;
		&__title {
			grid-column: 1 / 4;
			@include center-content;
		}
		&__card {
			@include center-content;
			height: 100%;
			flex: 1;
		}
	}

	&__card {
		margin-top: 32px;
		margin-left: 10px;
		height: 60px;
		background-color: #f6f6f6;
		border-radius: 20px;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		@include center-content;
		justify-content: left;
		position: relative;
		&--icon {
			padding-left: 46px;
			i {
				color: #727272;
			}
		}
		&--text {
			font-size: 1rem;
			font-weight: 700;
			padding-left: 26px;
		}
		&::after {
			width: 24px;
			height: 24px;
			position: absolute;
			background-color: $primary-color;
			counter-increment: cardNumber;
			content: counter(cardNumber) " ";
			border-radius: 50%;
			color: $secondary-text-color;
			font-size: 0.9rem;
			@include center-content;
			transform: translateX(-10px);
		}
		&:hover {
			background-color: #f5edff;
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
			i {
				color: $primary-color;
			}
		}
	}
}

// ...................
// restaurants section
// ...................

.restaurant {
	background-color: #f6f6f6;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	@include for-size(tablet) {
		padding: 20px;
		display: grid;
		grid-template: 50px 1fr / 1fr 1fr;
		column-gap: 20px;
		&__title {
			grid-column: 1 / 3;
			@include center-content;
		}
		&__card {
			height: 100%;
			flex: 1;
		}
	}
	&__title {
		padding-bottom: 26px;
	}
	&__card {
		background-color: $secondary-text-color;
		border-radius: 20px;
		overflow: hidden;
		height: 250px;
		margin-bottom: 18px;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
		position: relative;
		transition: all 0.1s;
		cursor: pointer;
		&:hover {
			box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
		}
		&.new::after {
			position: absolute;
			width: 80px;
			height: 30px;
			background-color: $tertiary-color;
			color: $tertiary-dark-color;
			font-size: 0.875rem;
			font-weight: 700;
			content: "Nouveau";
			top: 14px;
			right: 15px;
			@include center-content;
			border-radius: 2px;
		}
		&__image {
			height: 170px;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		&__text-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 18px 20px;
			h4 {
				font-size: 1.125rem;
				font-weight: 700;
			}
			p {
				font-size: 1.125rem;
				font-weight: 300;
			}
		}

		.restaurant__card__heart {
			height: 1.5rem;
			font-size: 1.5rem;
			@include center-content;
			padding-top: 4px;
			position: relative;
		}
	}
}
