// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
	background: #353535;
	color: $secondary-text-color;
	height: 196px;
	width: 100%;
	font-size: 1rem;
	padding: 0 30px;
	h1 {
		padding: 20px 0;
		font-size: 1.25rem;
	}
	.footer__icon-and-text {
		display: grid;
		grid-template-columns: 28px 12fr;
	}
	h4,
	p {
		padding-bottom: 6px;
	}
	p {
		font-weight: 200;
	}
}
