// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button--flashy {
	width: 220px;
	height: 50px;
	font-size: 1rem;
	color: #fff;
	padding: 14px 18px 10px;
	margin: 40px auto;
	background: linear-gradient(0deg, #af60dc 7.15%, #eb73da 108.11%);
	mix-blend-mode: normal;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
	border-radius: 999px;
	transition: all 0.1s;
	cursor: pointer;
	&:hover {
		background: linear-gradient(0deg, #af76cb 7.15%, #f3abe8 108.11%);
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
	}
}
