// ..............
// center content
// ..............

@mixin center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

// .........
//breakpoint
// .........

@mixin for-size($size) {
	@if $size == tablet {
		@media (min-width: map-get($breakpoints,"medium")) {
			@content;
		}
	} @else if $size == desktop {
		@media (min-width: map-get($breakpoints, "large")) {
			@content;
		}
	}
}
