/// Regular font family
/// @type List
$text-font-stack: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

/// Primary color
/// @type Color
$primary-color: #9356dc !default;

/// Secondary color
/// @type Color
$secondary-color: #ff79da !default;

/// Tertiary color
/// @type Color
$tertiary-color: #99e2d0 !default;

/// Darker tertiary color
/// @type Color
$tertiary-dark-color: #089d79 !default;

/// Main text color
/// @type Color
$main-text-color: #000 !default;

/// Secondary text color and some backgrounds
/// @type Color
$secondary-text-color: #fff !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	"small": 375px,
	"medium": 768px,
	"large": 1024px,
) !default;
