// .......................
// Basic typography styles
// .......................

body {
	color: $main-text-color;
	font: normal 125% / 1.4 "roboto", $text-font-stack;
}

h1 {
	font-family: "shrikhand", $text-font-stack;
}

h3 {
	font-size: 1.5rem;
	font-weight: 800;
}
